.home-head-div {
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  gap: 1em;

  width: 100%;
}

.home-name-div {
  width: 60%;
  margin: 0;
}

.home-image-div{
  height: 100%;
  width: 40%;
  object-fit: cover;
}

.profile-img {
  height: 100%;
  width: 100%;
}
